[submodule "deps/doctest"]
	path = deps/doctest
	url = https://github.com/onqtam/doctest.git
[submodule ".\\deps\\magic_enum"]
	path = .\\deps\\magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule ".\\deps\\time_measure"]
	path = .\\deps\\time_measure
	url = https://github.com/maidamai0/time_measure.git
